:root {
  --button-color: #596d48;
  --input-border-color: #e5e7eb;
  --selected-border-color: rgba(0, 0, 255, 0.8);
  --invalid-border-color: red;
  --general-font-family: sans-serif;
  --text-color: #fff;
}

@font-face {
  font-family: "NorseBold";
  src: url("./fonts/Norse-Bold.otf") format("opentype");
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  font-family: var(--general-font-family);
}

.main {
  display: flex;
}

.left {
  height: 100vh;
}

.right {
  flex-grow: 2;
  height: 100vh;
  background-color: var(--text-color);
}

.dummy-text {
  padding: 80px 120px 0 40px;
}

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 400px;
  height: 100px;
  position: relative;
  top: 150px;
  display: flex;
  justify-content: center;
}

.photo-credit {
  color: var(--text-color);
  text-align: center;
  font-size: 12px;
  position: relative;
  top: 450px;
}

.image-link {
  color: var(--text-color);
}

img {
  width: 80px;
  height: 100px;
}

.logo-text {
  margin: 0;
  padding: 0;
  line-height: 100px;
  color: #fff;
  font-family: "NorseBold", sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-paragraph {
  font-weight: bold;
  line-height: 1.2;
  word-spacing: 1.5;
  font-size: 18px;
}

.first {
  margin-bottom: 30px;
}

.second {
  margin-bottom: 50px;
}

.form-title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(44, 42, 42);
  margin-bottom: 25px;
}

.input-label {
  text-transform: uppercase;
  display: block;
  color: rgb(94, 90, 90);
  font-size: 10px;
  font-weight: 600;
  word-spacing: 3px;
  letter-spacing: 1.5px;
  margin-bottom: 2px;
}

input {
  width: 200px;
  height: 20px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 3px 3px 0 5px;
}

input:focus {
  outline: none;
  border: 1px solid var(--selected-border-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="password"]:focus:invalid {
  outline: none;
  border: 1px solid var(--invalid-border-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-section {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px 0 30px 40px;
}

.form-container {
  display: flex;
  gap: 60px;
}

.form-row {
  margin-bottom: 20px;
}

.submit-form,
.log-in {
  padding-left: 40px;
}

button {
  margin-top: 25px;
  padding: 10px 40px;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #567a33;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.log-in-text {
  font-size: 0.8rem;
}
.log-in-link {
  text-decoration: none;
  font-weight: 700;
  color: var(--button-color);
}
